@font-face {
  font-family: "Nimbus-Sans";
  src: local(
    "Nimbus-Sans",
    url(./fonts/Nimbus-Sans-D-OT-Ultra-Light_32757.ttf) format("truetype")
  );
}

body {
  margin: 0;
  font-family: "Nimbus-Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
