@font-face {
  font-family: "Nimbus Sans";
  src: url(./fonts/Nimbus-Sans-D-OT-Ultra-Light_32757.ttf);
}
body {
  margin: 0;
  font-family: "Nimbus Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
